{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ article }}</h1>

    <p>
        Par {{ article.author }},
        <em>{{ article.publicationDate|date('d/m/Y H:i') }}</em>
        <br>
        <strong>
            Dans <a href="{{ path('app_category_index', {'id': article.category.id}) }}">
                {{ article.category }}
            </a>
        </strong>
    </p>

    {% if article.image is not null %}
        <div class="text-center">
            <img src="{{ asset('images/' ~ article.image) }}" width="100%">
        </div>
    {% endif %}

    <p>{{ article.content|nl2br }}</p>

{% endblock %}
